nav{
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.logo{
    width: 70px;
    height: 50px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    font-size: 36px;
    padding: 9px;
}
.home, .menu, .onboarding{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home, .onboarding{
    width: 25%;
}
.menu{
    width: 50%;
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
}
.menu a{
    padding: 25px;
    text-decoration: none;
    color: #ffffff;
}
.menu a:hover{
    color: #f8ba42;
}
.onboarding button{
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    padding: 9px 14px;
    margin: 16px;
    background: transparent;
}
.button1{
    border: solid #f8ba42 5px;
}
.button1:hover{
    background: #f8ba42;
}
.button2{
    border: solid #dc549c 5px;
}
.button2:hover{
    background: #dc549c;
}